{% schema %}
  {
    "name": "PF: Example",
    "settings": [],
    "blocks": [],
	"presets": [
		{ "name": "PF: Examlpe", "settings": {} }
	]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}

{% layout none %}

{{ 'pf-section.css' | asset_url | stylesheet_tag }}
{{ 'pf-section.js' | asset_url | script_tag }}

<section id="{{ section.id }}" class="pf-section">
  <div class="pf-container">
    
  </div>
</section>