{% schema %}
  {
    "name": "PF: Example",
    "settings": [],
    "blocks": [],
	"presets": [
		{ "name": "PF: Examlpe", "settings": {} }
	]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}


{{ 'pf-section.css' | asset_url | stylesheet_tag }}

<script type="module" src="{{ 'pf-section.js' | asset_url }}"></script>

<section id="{{ section.id }}" class="pf-section">
  <div class="pf-container">
    <h1>Pagefly Section Heading</h1>
  </div>
</section>