<div style="opacity:0" class="sc-bYoBSM hkmOtz __pf" id="__pf">
    <div data-pf-type="Body" class="sc-dFtzxp pf-1_">
      <div data-pf-type="Layout" class="sc-gsNilK pf-2_">
        <div data-pf-type="Section" class="sc-dkYRCH cEFMKO pf-66_">
          <div class="sc-dtDOqo">
            <div class="sc-ezbkAF pf-65_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row">
              <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6">
                <div data-pf-type="Column" class="sc-brSvTw jBVYbA pf-63_">
                  <p class="sc-eGPXGI bkA-DrD pf-53_" data-pf-type="Paragraph"><span data-pf-type="Text"
                      class="sc-gUQvok pf-52_">SPECIAL DISCOUNT</span></p>
                  <h3 data-pf-type="Heading" class="sc-hOGkXu fGMgq pf-56_"><span data-pf-type="Text"
                      class="sc-gUQvok pf-55_">For Men's Jackets</span></h3>
                  <p class="sc-eGPXGI bkA-DrD pf-59_" data-pf-type="Paragraph"><span data-pf-type="Text"
                      class="sc-gUQvok pf-58_">Discount up to 50% for all jackets for cyber monday. Hurry up!</span></p>
                  <a data-pf-type="Button" class="sc-fWCJzd leeZGH pf-62_"><span data-pf-type="Text"
                      class="sc-gUQvok pf-61_">Shop Now</span></a>
                </div>
              </div>
              <div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6">
                <div data-pf-type="Column" class="sc-brSvTw jBVYbA pf-64_    pf-bg-lazy"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% schema %}
  {
    "name": "Phong Section",
	"class": "phong-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.phong-section {
	background: red;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
