/* PageFly Element Styles */
					.lgZhBD.pf-editor-section::before, .lgZhBD.pf-editor-section::after { content: ""; display: block; position: absolute; left: 0px; right: 0px; width: 100%; height: 10px; }
.lgZhBD.pf-editor-section::before { top: -10px; }
.lgZhBD.pf-editor-section::after { bottom: -10px; }
.lgZhBD__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.lgZhBD { padding: 15px 0px; position: relative; }
.lgZhBD .sc-dliRfk { position: relative; }
.lgZhBD[data-container="true"] .sc-dliRfk { padding: 0px 15px; width: 100%; margin: auto; }
.lgZhBD .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.ciNxzc { margin: 0px -15px; }
.BcUQo { position: relative; }
.BcUQo.pf-editor-col::before, .BcUQo.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.BcUQo.pf-editor-col::before { left: -10px; }
.BcUQo.pf-editor-col::after { right: -10px; }
.OoUPE { margin: 0px 0px 15px; }
.OoUPE > a { color: inherit !important; }
.OoUPE > span { font-weight: inherit; text-decoration: inherit; }
.OoUPE { word-break: break-word; }
.OoUPE.pf-i--left i { margin-right: 0.3em; }
.OoUPE.pf-i--right i { margin-left: 0.3em; }
.OoUPE.pf-i--top i { margin-bottom: 0.5em; }
.OoUPE.pf-i--top > span, .OoUPE.pf-i--top > a { display: block; }
.OoUPE.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.OoUPE [class*="--diamond"] { margin-right: 1em; }
.uIbp { display: inline-block; }
.uIbp { vertical-align: baseline; word-break: break-word; }
.uIbp:focus { outline: none; }
.eOnOWM { padding: 20px; margin: 0px -15px; }
.eOnOWM.pf-r-ew--2 > div { display: flex; }
.eOnOWM.pf-r-ew--2 .pf-c { width: 100%; }
.eOnOWM .pf-feature-product--vertical { width: 100%; }
.eOnOWM .pf-feature-product--vertical .pf-feature-product__infos { padding: 20px 0px 0px; color: rgb(0, 0, 0); }
.pf-feature-product--vertical .pf-feature-product--noimage .eOnOWM .pf-feature-product__infos { padding-top: 0px; background: blue; }
.eOnOWM .pf-feature-product__image img { max-width: 100%; }
.eOnOWM .pf-feature-product__infos { padding-left: 30px; }
.eOnOWM .pf-feature-product--noimage .pf-feature-product__infos { padding-left: 0px; }
.eOnOWM .pf-feature-product__infos > h3 { margin: 0px; font-weight: 500; }
.eOnOWM .pf-p-hs .pf-p-prr { text-decoration: line-through; opacity: 0.6; margin-right: 10px; }
.eOnOWM .pf-p-hs .pf-p-prr.hide { display: none; }
.eOnOWM .pf-p-prr.hide { display: none; }
.eOnOWM .pf-p-hs .pf-p-prs { display: inline-block; }
.eOnOWM .pf-feature-product__actions { position: relative; }
.eOnOWM .product__variants + .pf-feature-product__actions { margin-top: 15px; display: inline-flex; }
.eOnOWM .pf-feature-product__actions > a { text-decoration: none; }
.eOnOWM .product__variants + .pf-feature-product__actions .js-qty { margin: 0px 10px 0px 0px; width: 100px; }
.eOnOWM .product__variants + .pf-feature-product__actions button { height: 42px; line-height: 42px; z-index: 1; }
.eOnOWM .product__variants + .pf-feature-product__actions :focus { outline: 0px; }
.eOnOWM input[name="quantity"] { max-width: 60px; position: absolute; margin-right: 3px; height: 100%; padding: 0px 10px; line-height: unset; }
.eOnOWM .js-qty input[name="quantity"] { max-width: 100px; }
.eOnOWM .pf-fp-pr { padding: 5px 0px 15px; font-size: 20px; font-weight: bold; }
.eOnOWM .pf-feature-product__vendor { margin-bottom: 0px; }
.eOnOWM .pf-fp-pr s { font-size: 0.7em; margin-right: 5px; }
.eOnOWM .pf-feature-product__viewfull, .eOnOWM .pf-feature-product__desc { margin-top: 20px; display: block; }
.eOnOWM .pf-feature-product__viewfull { text-decoration: underline; color: rgb(27, 28, 29); }
.eOnOWM ul, .eOnOWM ol { list-style-position: inside; margin: 10px 0px; }
.eOnOWM .product__button { padding: 0px 1.5em; background: rgb(85, 193, 72); color: rgb(255, 255, 255); border: none; display: inline-flex; -webkit-box-align: center; align-items: center; height: 42px; line-height: 42px; white-space: nowrap; }
.eOnOWM input + .product__button { margin-left: 63px; }
.eOnOWM .product__button[disabled], .eOnOWM .product__button[data-disabled] { pointer-events: none; opacity: 0.7; }
@media (max-width: 768px) {
  .eOnOWM .pf-feature-product--horizontal { display: block !important; }
  .eOnOWM .pf-feature-product__infos { padding-left: 0px; margin-top: 20px; }
}
.gJXqlU { position: relative; }
.lgHsl.lgHsl { font-size: 14px; vertical-align: middle; text-align: center; width: auto; height: auto; border: none; font-family: FontAwesome !important; }
.lgHsl.lgHsl[data-href] { cursor: pointer; }
.RVbtq { margin: 0px 0px 15px; }
.RVbtq > a { color: inherit !important; }
.RVbtq > span { font-weight: inherit; text-decoration: inherit; }
.RVbtq { word-break: break-word; }
.RVbtq.pf-i--left i { margin-right: 0.3em; }
.RVbtq.pf-i--right i { margin-left: 0.3em; }
.RVbtq.pf-i--top i { margin-bottom: 0.5em; }
.RVbtq.pf-i--top > span, .RVbtq.pf-i--top > a { display: block; }
.RVbtq.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.RVbtq [class*="--diamond"] { margin-right: 1em; }
.bLbPLR > span:last-child { line-height: inherit; display: block; }
.bLbPLR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.bLbPLR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.bLbPLR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.bLbPLR.dropcap--circle > span:first-child { border-radius: 100%; }
.bLbPLR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.bLbPLR ol, .bLbPLR ul { list-style-position: inside; }
.bLbPLR blockquote { font-size: inherit; }
.hYQhQZ { display: inline-block; border: 1px solid rgb(229, 229, 229); }
.hYQhQZ .pb-countdown__inner { display: flex; }
.hYQhQZ > div > div { text-align: center; padding: 0px 15px; display: -webkit-flex; flex-direction: column; min-width: 70px; }
.hYQhQZ--reverse > div > div { flex-direction: column-reverse; }
.hYQhQZ > div > div > * { display: block; line-height: 1; }
.hYQhQZ span { font-size: 30px; }
.hYQhQZ label { font-weight: normal; margin-top: 5px; font-size: 14px; margin-bottom: 0px; }
.hYQhQZ--basic { border: none; }
.hYQhQZ > div { padding: 10px 0px; border-color: inherit; }
.hYQhQZ > div > div { border-right-width: 1px; border-right-style: solid; border-color: inherit; border-radius: 0px; }
.hYQhQZ > div > div:last-child { border-right: none; }
.yecUC { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; vertical-align: middle; max-width: 100%; }
.yecUC img { display: inline-block; object-fit: cover; max-width: 100%; max-height: 100%; height: auto; text-align: center; width: 100%; vertical-align: middle; position: unset; }
.lmgwgQ { margin: 0px 0px 15px; }
.lmgwgQ > a { color: inherit !important; }
.lmgwgQ > span { font-weight: inherit; text-decoration: inherit; }
.lmgwgQ { word-break: break-word; }
.lmgwgQ.pf-i--left i { margin-right: 0.3em; }
.lmgwgQ.pf-i--right i { margin-left: 0.3em; }
.lmgwgQ.pf-i--top i { margin-bottom: 0.5em; }
.lmgwgQ.pf-i--top > span, .lmgwgQ.pf-i--top > a { display: block; }
.lmgwgQ.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.lmgwgQ [class*="--diamond"] { margin-right: 1em; }
.hRRmvw { margin: 0px -15px; }
.hRRmvw .pf__shopify-product { width: 100%; text-align: center; }
.hRRmvw .pf-c { padding: 15px; display: flex; }
.hRRmvw .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; overflow: hidden; max-width: 100%; position: relative; }
.hRRmvw .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.hRRmvw .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.hRRmvw .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.hRRmvw .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.hRRmvw .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.hRRmvw .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.hRRmvw .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.hRRmvw .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.hRRmvw .shopify__product-vertical, .hRRmvw .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.hRRmvw .shopify__product-vertical .product__info, .hRRmvw .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.hRRmvw .shopify__product-horizontal { display: -webkit-flex; }
.hRRmvw .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.hRRmvw .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.hRRmvw .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.hRRmvw .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
.guisSt { -webkit-box-align: center; align-items: center; padding: 1rem 0px; position: relative; font-size: 2px; display: flex !important; }
.guisSt > span { padding: 0px 1rem; display: flex; flex: 1 0 auto; line-height: 1; color: black; font-size: 30px; }
.guisSt span > span { vertical-align: middle; }
.guisSt::before, .guisSt::after { content: ""; width: 100%; display: block; border-top: 1em solid; }
.guisSt > span { display: none; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-24f3347d {
		text-transform: uppercase;
		 letter-spacing: 2px;
		 text-align: center;
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-7bfe54d5 [class*="__infos"] > h3 {
		font-size: 24px;
	}
	[data-pf-type="Shopify.FeaturedProduct"].pf-7bfe54d5 [class*="__infos"] > h3 [class*="__infos"] > h3 {
		font-size: 24px;
	}
	[data-pf-type="Icon"].pf-0049a036 {
		font-size: 3em;
	}
	[data-pf-type="Heading"].pf-f02632e1 {
		margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-94a0b8db {
		text-align: center;
	}
	[data-pf-type="Block"].pf-cc292691 {
		text-align: center;
	}
	[data-pf-type="Icon"].pf-91348dd1 {
		font-size: 3em;
	}
	[data-pf-type="Heading"].pf-c8e75a8d {
		margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-5e289cf5 {
		text-align: center;
		 color: rgb(74, 144, 226);
	}
	[data-pf-type="Block"].pf-8465b2d3 {
		text-align: center;
	}
	[data-pf-type="Icon"].pf-45e2224d {
		font-size: 3em;
	}
	[data-pf-type="Heading"].pf-e7527f70 {
		margin-top: 0px;
	}
	[data-pf-type="Paragraph"].pf-34a8938d {
		text-align: center;
	}
	[data-pf-type="Block"].pf-da721d7b {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-27c1c915 {
		text-align: center;
		 line-height: 30px;
		 margin: 0px 0px 25px;
	}
	[data-pf-type="CountDown"].pf-4583f3f6 {
		border-width: 1px;
		 border-style: solid;
	}
	[data-pf-type="Column"].pf-10409fe9 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-25d865fc {
		background-color: rgb(234, 234, 234);
	}
	[data-pf-type="Row"].pf-6c4dc086 {
		padding: 30px 0px 0px;
	}
	[data-pf-type="Heading"].pf-985fc2de {
		text-align: center;
		 margin: 0px;
	}
	[data-pf-type="Section"].pf-ed0de6e3 {
		padding: 25px 0px 40px;
	}
	[data-pf-type="Heading"].pf-b13e6613 {
		text-align: center;
	}
	[data-pf-type="Heading"].pf-48e704f2 {
		text-align: center;
	}
	[data-pf-type="Divider"].pf-1cd1a3d1 {
		color: rgb(145, 157, 169);
	}
	[data-pf-type="Icon"].pf-91755374 {
		font-size: 5em;
		 margin: 0px 15px;
	}
	[data-pf-type="Block"].pf-9a205b2e {
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Section"].pf-91b1d761 {
		padding: 0px;
	}
	[data-pf-type="Heading"].pf-b13e6613 {
		margin: 0px 0px 20px;
	}
	[data-pf-type="Section"].pf-6de6ba34 {
		padding: 0px;
	}
	[data-pf-type="Icon"].pf-91755374 {
		font-size: 3.2em;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	[data-pf-type="Section"].pf-91b1d761 {
		padding: 0px;
	}
}