<!-- This is a liquid templates designed my PageFly  -->

<style>
  section {
      background: red;
    padding: 40px;
  }
</style>


<section>pagefly created content</section>

{% section 'pagefly' %}

<section>pagefly created content</section>

{% section 'image-with-text'  %}

<section>pagefly created content</section>

