<!-- This is a liquid templates designed my PageFly  -->

<style>
  div {
      background: red;
    padding: 40px;
  }
</style>

<div>pagefly created content</div>

{% section 'image-with-text'  %}

<div>pagefly created content</div>

{% section 'image-with-text'  %}

<div>pagefly created content</div>

{% section 'image-with-text'  %}

<div>pagefly created content</div>

